/* board */

#board {
    padding: 50px 0px;
    display: table;
    margin: auto;
}

#board .row {
    display: flex;
    outline: solid black 2px;
    outline-offset: -1px;
}

#board .open,
#board .number,
#board .blocked {
    width: 100px;
    height: 100px;

    padding: 30px;
    font-size: 40px;

    outline: solid black 2px;
    outline-offset: -1px;

    vertical-align: middle;
    text-align: center;
}

#board .number:hover {
    outline-offset: -2px;
}

#board .blocked {
    background-color: black;
    color: gray;
    /*text-indent: -9999px;*/
}

#board .open {
    color: green;
}

/* screens */

#helpScreen,
#winScreen {
    background-color: var(--theme-content);
    border-radius: 25px;

    padding: 10px;

    margin: 100px 10%;
}

#helpScreen,
#winScreen h1 {
    text-align: center;
}