/* board */

#board {
    padding: 0px;
    display: table;
    margin: auto;
}

#board .row {
    display: flex;
    outline: solid black 2px;
    outline-offset: -1px;
}

#board .open,
#board .number,
#board .blocked {
    width: 100px;
    height: 100px;

    padding: 30px;
    font-size: 40px;

    outline: solid black 2px;
    outline-offset: -1px;

    vertical-align: middle;
    text-align: center;
}

#board .number:hover {
    outline-offset: -2px;
}

#board .blocked {
    background-color: black;
    color: gray;
    /*text-indent: -9999px;*/
}

#board .open {
    color: green;
}

/* screens */

#helpScreen,
#winScreen {
    background-color: var(--theme-content);
    border-radius: 25px;

    padding: 10px;

    margin: 100px 10%;
}

#helpScreen,
#winScreen h1 {
    text-align: center;
}

#helpScreen p {
    font-size: 150%;
    margin-bottom: 10px;
}

#helpScreen button {
    border-radius: 25px;
    font-size: 100%
}

/* rules */

#rules {
    background-color: var(--theme-content);
    border-radius: 20px;
    padding: 20px;
    width: 1000px;
    min-width: 500px;
    margin: 50px auto;
}

#rules p {
    margin-top: 10px;
}

#rules div {
    overflow: auto;
    height: auto !important;
}

#rules_images {
    display: flex;
    flex-direction: row;
}

#rules_images div {
    flex: 1;
}

#rules_images_left,
#rules_images_right {
    padding: 5px;
    margin-right: 10px;
}

#rules_images_left {
    border-left: solid black;
}

#rules_images_right {
    text-align: right;
    border-right: solid black;
}

#rules_images img {
    display: inline;
    height: 300px;
}